{# app/Resources/views/base.html.twig #}
{% extends '::base.html.twig' %}

	{% block body %}

	<body>

    {{ include('CympelCoinGiftBundle:Default:nav.html.twig')}}


  <!-- Trending this week -->

  <div class="row">

    <div class="large-12 columns">    	          	    

		<div class="large-12 small-12 columns campaign-info">        
			
				<h3>{{ campaign.id }}</h3>
				<div class="large-3 small-12 columns cmpgn cmpgn-image">					
					<img src="{{ campaign.headlineImageUri }}" />
				</div>
			
				<div class="large-4 small-3 columns cmpgn">
					<h6>Large Subhead Text, Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Donec ullamcorper nulla non.</h6>
					<p>Large Subhead Text, Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Donec ullamcorper nulla non. Large Subhead Text, Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Donec ullamcorper nulla non. </p>
				</div>
			
				<div class="large-5 small-3 columns cmpgn donate-panel group">
					<div class="box">
		              <p class="subheader">Amount funded</p>
		              <h1>${{ campaign.coinTotal|number_format(2, '.', ',') }}</h1>
		            </div>
		            <div class="box">
		              <p class="subheader">Number of Givers</p>
		              <h2>{{ campaign.giverCount }}</h2>
		            </div>
		            <div class="cta">
		                <a href="#" class="button medium expand">Give To This Campaign</a>
		            </div>
		            <p class="exp"><strong>Good until:</strong> October 10, 2014</p>
				</div>			

			</div>
		</div>

      </div> {# end row #}

      <div class="row">


      <div class="large-8 small-12 columns">

      	<div class="campaign-desc">

			<h4>Campaign Description</h4>
        	<p>Normal Paragraph, Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Donec ullamcorper nulla non metus auctor fringilla. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Normal Paragraph, Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Donec ullamcorper nulla non metus auctor fringilla. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. </p>
        	<p>Normal Paragraph, Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Donec ullamcorper nulla non metus auctor fringilla. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Normal Paragraph, Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Donec ullamcorper nulla non metus auctor fringilla. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. </p>
        	<p>Normal Paragraph, Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Donec ullamcorper nulla non metus auctor fringilla. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Normal Paragraph, Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Donec ullamcorper nulla non metus auctor fringilla. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. </p>


      	</div>

      	<div class="blog">

			<h6>Join the conversation</h6>
        	<p>Normal Paragraph, Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Donec ullamcorper nulla non metus auctor fringilla. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. </p>
        


      	</div>

      </div> {# end large-8 #}

      <div class="large-4 small-12 columns">


        	<div class="panel faq help-idea">
	        	<h5>Need help with your idea?</h5>
	        	<p>Normal Paragraph, Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Donec ullamcorper nulla non metus auctor fringilla. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. </p>
	        	<p><a href="#">See more</a></p>
	        </div>

	        <div class="panel faq">
	        	<h5>Who will fund this cause?</h5>
	        	<p>Normal Paragraph, Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Donec ullamcorper nulla non metus auctor fringilla. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. </p>
	        	<p><a href="#">See more</a></p>
	        </div>

	        <div class="panel faq">
	        	<h5>How notifications works</h5>
	        	<p>Normal Paragraph, Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Donec ullamcorper nulla non metus auctor fringilla. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. </p>
	        	<p><a href="#">See more</a></p>
	        </div>

      </div> {# end large-4 #}



      </div> {# end row #}

<!-- End trending this week -->


{{ include('CympelCoinGiftBundle:Default:footer.html.twig')}}

{{ include('CympelCoinGiftBundle:Default:scripts.html.twig')}}

	</body>

{% endblock body %}

