{{ form_start(form) }}
    {{ form_errors(form) }}
<div class="">
    
        {{ form_label(form.message) }}
        {{ form_errors(form.message) }}
        {{ form_widget(form.message) }}
    
    <input type="submit" value="Post" class="medium button expand" />
</div>  {# end large-8 #}
{{ form_end(form) }}

