<h4>Join the conversation</h4>
{% for comment in comments %}
    {% if comment.parent %}

    {% else %}

    <div class="comment">
        <div class="voting">
            <a href="#">
                <div class="voteUp">
                    +
                </div>
            </a>
            <div class="voteTotal">
                {{ comment.voteTotal }}
            </div>
            <a href="#">
                <div class="voteDown">
                    -
                </div>
            </a>
        </div>
        <div class="subCommentBox group">

            <h5 class="commentAuthor">
                {{ comment.user.firstName }} {{ comment.user.lastName }}
            </h5>
            <input type="hidden" class="commentId" id="comment{{ comment.id }}" value="{{ comment.id }}" />
            <div class="commentMessage">
                <p>{{ comment.message }}</p>
            </div>    
                    
            <ul class="commentFooter group">
                <li class="commentOnComment"><a href="#">Comment</a></li>
                <li class="reportComment"><a href="#">Report</a></li>
                <li class="commentDate">{{ comment.date }}</li>
            </ul>    
                        
            <div class="putSubCommentHere" id="putSubCommentHere{{ comment.id }}">

            </div>
            {% for child in comment.children %}
                {{ render(controller('CympelCoinGiftBundle:Default:subComments', {
                    'commentId': child.id
                })) }}
            {% endfor %}

        </div>

    </div>
    {% endif %}
{% endfor %}