<div class="row">
    <div class="large-12 small-12 columns">
        <h4 class="cmpgn-hotness">Most Popular</h4>
        <div class="row">
            {% for campaign in firstFourCampaigns %}
            <a href="{{ path('coinGiftCampaign', {'campaignName': campaign.id}) }}">
                <div class="large-3 small-12 columns">
                    <img src="{{ campaign.headlineImageUri }}" />
                    <h6 class="panel">{{ campaign.id }}</h6>
                </div>
            </a>
            {% endfor %}

        </div>

        <div class="row">
            {% for campaign in nextFourCampaigns %}
            <a href="{{ path('coinGiftCampaign', {'campaignName': campaign.id}) }}">
                <div class="large-3 small-12 columns">
                    <img src="{{ campaign.headlineImageUri }}" />
                    <h6 class="panel">{{ campaign.id }}</h6>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
</div>